#svg-container {	
	padding: 5px;
}

main {
	overflow: scroll;
}

.col-2 {
	width: 400px;
	min-width: 300px;
}
.col-3 {
	width: 280px;
	min-width: 250px;
}

.content > div {
	padding: 5px;
}

.optionslist > * {
	display: block;
	margin-bottom: 8px;
}

.title {	
	margin: 0px;
	padding: 4px;
	font-size: 20px;
	font-family: "Segoe UI",Arial,Roboto,Verdana,ssans-serif;
}

#svg-container svg {
	max-height: 80vh;
	min-width: 400px;
}

#modbus-table td {
	padding: 3px;
	max-width: 400px;
}

#modbus-table td:nth-child(2) {
	border-left: 1px solid gray;
	text-align: center;
	width: 45%;
}
